extends ./layout

block content 
    h1(class="h1_home") Bienvenido a Dreamy Vinyls!!! 
    p(class="p_register") Tu página de vinilos favorita 
    img(class="home_img" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Disco_de_Vinilo.jpg")