
nav(class="navbar")
    ul(class="nav-elements")
        li(class="nav-link") 
            a(href="/") Home 
        li(class="nav-link")
            a(href="/cart") Carrito
        li(class="nav-link")    
            a(href="/user/register") Registro        
        li(class="nav-link")    
            a(href="/user/login") Login       
        li(class="nav-link")    
            a(href="/vinyl") Vinilos 