extends ../layout

block content 
    form(action="/vinyl", method="post")

        label(for="album_name") Nombre del album
        input(id="album_name" type="text" name="album_name")

        label(for="artist_name") Nombre del artista
        input(id="artist_name" type="text" name="artist_name")

        label(for="price") Precio
        input(id="price" type="number" name="price")

        label(for="relase_date") Fecha de salida
        input#relase_date(type="date", name="relase_date") 
        
        button(type="submit") Crear

