extends ../layout

block content 
    h1 Login
    if error 
        p(class="error")=error
    form(action="/user/login", method="post") 
        label(for="user_name") Nombre de usuario
        input#user_name(type="text", name="user_name") 
        label(for="password") contraseña
        input#password(type="password", name="password") 
        button(type="submit") Login