extends ../layout

block content 
    form(action="/user", method="post") 
        label(for="user_name") Nombre 
        input(id="user_name" type="text" name="user_name") 

        label(for="user_password") Contraseña 
        input(id="user_password" type="text" name="user_password")

        label(for="user_city") Ciudad 
        input(id="user_city" type="text" name="user_city")

        button(type="submit") Crear

