extends ../layout

block content 
    h1 Register
    if error 
        p(class="error")=error
    form(action="/user/register", method="post") 
        label(for="user_name") Nombre de usuario
        input#user_name(type="text", name="user_name") 
        label(for="password") contraseña
        input#password(type="password", name="password") 
        label(for="passwordRepeat") repetir contraseña
        input#passwordRepeat(type="password", name="passwordRepeat") 
        button(type="submit") Register