extends ../layout

block content
    h1 lista de carritos
    if error 
        p(class="error")= error
    if data
        ul
            each cart in data 
                li
                    a(href="/cart/"+cart.cart_id)= cart.id_user
                    a(href=`/cart/${cart.cart_id}/update`) 
                        button Editar
                    form(action=`/cart/${cart.cart_id}/remove`, method="post") 
                        button(type="submit") Borrar
    a(href="/cart/new")
        button Nuevo