extends ../layout

block content 
    form(action="/cart", method="post") 
        label(for="id_user") Id de Usuario
        input(id="id_user" type="text" name="id_user") 
        label(for="cart_closed") Comprar?
        input#cart_closed(type="checkbox", name="cart_closed")
        button(type="submit") Crear
