extends ../layout

block content
    if error 
        p(class="error")= error
    if cart 
        h2= cart.id_user
        p Comprar: #{cart_closed==1 ? 'si': 'no'} 
    a(href="/cart")
        button Volver